# Eclipse
.project
.classpath
.settings/

# Maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath

# Gradle
.gradle/
build/

#IDEA
# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.ch04_exception.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
